.main {
  column-gap: 15rem;
}

.main-index {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 4.9rem;
  column-gap: 7rem; /* added to make the box perfect for inherited elements to fit */
}

.top-status-tray {
  display: inline-block;
  position: relative;
}

.statuses {
  display: flex;
  gap: 1.3rem;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.status-click {
  width: 6.9rem;
  height: 6.9rem;
  border-radius: 50%;
  background-image: linear-gradient(45deg, orange, rgb(161, 21, 161));
  background-clip: padding-box;
  padding: 2px;
}

.status-home {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background: black;
}

.arrows > div {
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.arrow-left {
  top: 40%;
  left: 2%;
  transform: translate(-2%, -40%);
}

.arrow-right {
  top: 40%;
  right: 2%;
  transform: translate(-2%, -40%);
}

.arrows > div > svg {
  fill: white;
}

.arrow-left-svg {
  transform: rotate(-90deg);
}

.arrow-right-svg {
  transform: rotate(90deg);
}

/* Main Content */

.main-content-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  gap: 2.5rem;
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 49rem;
  border-bottom: 1px solid #222;
  font-size: 1.3rem;
}

.user-definition {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content-status-home{
  width: 4rem;
  height: 4rem;
}

.content-status-click{
  width: 4.3rem;
  height: 4.3rem;
  padding: 1.5px;
  cursor: pointer;
}

.content-username-header{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-definition p{
  color:rgb(168, 168, 168);
}

.content-usename{
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.content-usename:hover{
  color: rgb(168, 168, 168);
}

/* .content-usename::after {
  color: rgb(168, 168, 168);
  content: "•";
  margin: 0 0.5rem 0 0.5rem;
} */

.user-definition > :last-child {
  margin-left: auto;
  cursor: pointer;
}

.more-options-button:hover {
  fill: rgb(168, 168, 168);
}

.content{
  border-radius: 0.25rem;
  border: 1px solid #111;
  overflow: hidden;
  position: relative;
}

.content-content{
  width: 49rem;
  height: 49rem;
}

.content-arrow{
  top: 50%;
  transform: translate(-2%, -50%);
}

.number-of-photos{
  position: absolute;
  display: flex;
  gap: 0.4rem;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-10%);
}

.selected-photo{
  background-color: white;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.remaining-photo{
  background-color: #777;
  width: 0.6rem;
  border-radius: 50%;
}

.interaction-icons{
  display: flex;
  gap: 1.6rem;
}

.interactions{
  cursor: pointer;
}

.interaction-icon:hover{
  color: rgb(168, 168, 168);
  fill: rgb(168, 168, 168);
}

.interaction-icons > :last-child{
  margin-left: auto;
}

.selectable-interaction-icon:active{
  fill: white;
}

.selectable-interaction-icon-heart:active{
  color: rgb(255, 48, 64);
  fill: rgb(255, 48, 64);
}

.liked-by{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.liked-people{
  display: flex;
  align-items: center;
}

.liked-people-img{
  background-color: black;
  margin-right: -0.4rem;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
}

.liked-by-text{
  word-wrap: break-word;
}

.liked-by-text strong{
  cursor: pointer;
}

.caption{
  display: flex;
  gap: 0.4rem;
}

.username-content{
  font-size: 1.3rem;
  cursor: pointer;
}

.caption-text{
  word-wrap: break-word;
}

.all-comments{
  color: rgb(168, 168, 168);
}

.all-comments a{
  cursor: pointer;
}

.top-rated-comment-replies{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.showcase-reply{
  display: flex;
  gap: 0.4rem;
}

.showcase-reply > :last-child{
  margin-left: auto;
}

.featured-username{
  font-weight: bold;
}

.showcase-reply p a{
  color: rgb(224, 241, 255);
  cursor: pointer;
}

.featured-like-button:hover{
  fill: rgb(54, 54, 54);
  cursor: pointer;
}

.add-comments-tab{
  margin-bottom: 1.8rem;
}

.add-comments-tab form{
  display: flex;
  align-items: center;
}

.add-comments-textarea[contenteditable]:empty::before{
  content: "Add a comment…";
  color: rgb(168, 168, 168);
}

.add-comments-textarea{
  font-family: "Roboto", Arial, sans-serif;
  resize: none;
  background-color: transparent;
  color: #f5f5f5;
  width: 96%;
  outline: none; 
  border: none;
  min-height: 1.8rem;;
  height: auto;
}

.emoji-selector{
  margin-left: auto;
  cursor: pointer;
}

.emoji-selector-svg:hover{
  fill: rgb(54, 54, 54);
}

/* Aside */

.aside-right-tray {
  max-width: 33rem;
  margin-top: 1rem;
}

.suggestions-only {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.my-aside-profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.my-aside-profile img {
  border-radius: 50%;
  cursor: pointer;
}

.all-names {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.all-names p {
  font-size: 1.3rem;
  color: #999;
}

.account-switch {
  color: rgb(0, 149, 246);
  margin-left: auto;
  cursor: pointer;
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hardcode-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hardcode-heading h3 {
  color: #999;
}

.hardcode-heading a {
  font-weight: bold;
  cursor: pointer;
}

.hardcode-heading a:hover {
  color: #777;
}

.suggested-profiles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.suggest-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.suggest-profile-dp {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.clickable-username{
  cursor: pointer;
}

.name-or-mutual_followers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name-or-mutual_followers p {
  font-size: 1.3rem;
  color: #999;
}

.suggest-account-follow-button {
  margin-left: auto;
  color: rgb(0, 149, 246);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
  color: #777;
}

.Links-to-navigate ul li {
  display: inline-block;
  margin-bottom: 0.7rem;
}

.Links-to-navigate ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.aside-nav-link-none:hover {
  text-decoration: none;
}

.aside-nav-links li:not(:last-child)::after {
  content: "\00B7";
  margin: 0 0.25rem 0 0.25rem;
}

.aside-nav-links {
  display: flex;
  flex-wrap: wrap;
}

.aside-nav-link {
  list-style: none;
}
